speech.hf.token=HF_TOKEN_HERE
speech.hf.asr.model=openai/whisper-large-v3

speech.piper.command=C:/Users/ayabe/AppData/Local/Programs/Python/Python313/Scripts/piper.exe
speech.piper.en.model.path=C:/AI/piper-voices/en_US-lessac-medium.onnx
speech.piper.en.config.path=C:/AI/piper-voices/en_US-lessac-medium.onnx.json
speech.piper.fr.model.path=C:/AI/piper-voices/fr_FR-siwis-medium.onnx
speech.piper.fr.config.path=C:/AI/piper-voices/fr_FR-siwis-medium.onnx.json
speech.piper.ar.model.path=C:/AI/piper-voices/ar_JO-kareem-medium.onnx
speech.piper.ar.config.path=C:/AI/piper-voices/ar_JO-kareem-medium.onnx.json